.*
Chrome/modules/
Chrome/vendor/
Chrome/extension.js
Chrome/BabelExt.js
Opera/modules/
Opera/includes/
Firefox/data/modules/
Firefox/data/vendor/
Firefox/data/BabelExt.js
Firefox/data/extension.js
Safari.safariextension/modules/
Safari.safariextension/vendor/
Safari.safariextension/BabelExt.js
Safari.safariextension/extension.js