.*
Chrome/modules/
Chrome/vendor/
Chrome/BabelExt.js
Chrome/extension.js
Chrome/icon*.png
Opera/modules/
Opera/includes/
Firefox/data/
Safari.safariextension/modules/
Safari.safariextension/vendor/
Safari.safariextension/BabelExt.js
Safari.safariextension/extension.js
Safari.safariextension/icon*.png
